name: tachidesk_sorayomi
description: A new Flutter frontend for Tachidesk.

publish_to: "none"
version: 0.4.6+1

environment:
  sdk: ">=2.18.1 <3.0.0"

dependencies:
  cached_network_image: ^3.2.2
  cached_network_image_platform_interface: ^2.0.0
  cupertino_http: ^1.0.1
  cupertino_icons: ^1.0.5
  dio: ^5.0.0
  file_picker: ^5.2.2
  flex_color_scheme: ^7.3.1
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.0
  flutter_localizations:
    sdk: flutter
  flutter_web_auth_2: ^2.2.1
  fluttertoast: ^8.1.1
  font_awesome_flutter: ^10.2.1
  freezed_annotation: ^2.2.0
  go_router: ^6.5.9
  google_mobile_ads: ^4.0.0
  hooks_riverpod: ^2.1.1
  in_app_purchase: ^3.1.8
  in_app_review: ^2.0.6
  infinite_scroll_pagination: ^4.0.0
  intl: any
  json_annotation: ^4.8.0
  numberpicker: ^2.1.2
  package_info_plus: ^4.1.0
  path_provider: ^2.0.11
  pub_semver: ^2.1.2
  queue: ^3.1.0+2
  riverpod_annotation: ^2.0.0
  scrollable_positioned_list: ^0.3.5
  share_plus: ^7.0.2
  shared_preferences: ^2.0.15
  stream_transform: ^2.1.0
  system_proxy: ^0.1.0
  url_launcher: ^6.1.6
  web_socket_channel: ^2.2.0
  webview_flutter: ^4.2.2

dependency_overrides:
  flutter_cache_manager:
    #path: ../Tachidesk-Sorayomi-thirdpart/flutter_cache_manager/flutter_cache_manager
    git:
      url: git@github.com:tachimanga/flutter_cache_manager.git
      path: flutter_cache_manager
  cached_network_image:
    #path: ../Tachidesk-Sorayomi-thirdpart/flutter_cached_network_image/cached_network_image
    git:
      url: git@github.com:tachimanga/flutter_cached_network_image.git
      path: cached_network_image
  octo_image:
    #path: ../Tachidesk-Sorayomi-thirdpart/octo_image
    git:
      url: git@github.com:tachimanga/octo_image.git
  file_picker:
    git:
      url: git@github.com:tachimanga/flutter_file_picker.git

dev_dependencies:
  build_runner: ^2.3.2
  # flutter_flavorizr: ^2.1.5
  flutter_gen_runner: ^5.1.0+1
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^2.0.1
  flutter_native_splash: ^2.2.14
  flutter_test:
    sdk: flutter
  freezed: ^2.2.1
  json_serializable: ^6.5.4
  lints: ^2.0.1
  riverpod_generator: ^2.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/icons/
    - assets/icons/launcher/
  # This section identifies your Flutter project as a module meant for
  # embedding in a native host app.  These identifiers should _not_ ordinarily
  # be changed after generation - they are used to ensure that the tooling can
  # maintain consistency when adding or modifying assets and plugins.
  # They also do not have any bearing on your native host application's
  # identifiers, which may be completely independent or the same as these.
  module:
    androidX: true
    androidPackage: com.example.sorayomi
    iosBundleIdentifier: com.example.sorayomi

flutter_gen:
  output: lib/src/constants/gen/

flutter_native_splash:
  color: "#54C5F8"
  image: assets/icons/dark_icon.png
  branding: assets/icons/launcher/from_suwayomi.png
  color_dark: "#01579B"
  image_dark: assets/icons/light_icon.png
  android_12:
    color: "#54C5F8"
    color_dark: "#01579B"
    icon_background_color: "#54C5F8"
    icon_background_color_dark: "#01579B"
    image: assets/icons/dark_icon.png
    image_dark: assets/icons/light_icon.png

flutter_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icons/launcher/sorayomi_icon.png"
  web:
    generate: true
    image_path: "assets/icons/launcher/sorayomi_icon.png"
    background_color: "#54C5F8"
    theme_color: "#54C5F8"
  windows:
    generate: true
    image_path: "assets/icons/launcher/sorayomi_icon.png"
  macos:
    generate: true
    image_path: "assets/icons/launcher/sorayomi_icon.png"
